# === macOS system files ===
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# === .NET ===
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.nupkg
**/*.log
**/packages/
**/publish/

# === React / Node.js ===
**/node_modules/
**/build/
**/dist/
**/coverage/
**/.env*

# === Editor/IDE ===
.vscode/
.idea/

# === Windows system files ===
Thumbs.db
